{% extends 'base.htm' %}

{% block content %}
<div class="container mt-3 mb-3">
  <h3 class="text-primary">Willkommen</h3>
  <p>Willkommen bei mVote2, das Online-Musik-Wunsch-System. Wenn du auf Weiter klickst, kannst du allen vorgeschlagenen Songs eine Stimme geben, falls dir diese auch gefallen. Du kannst indem du auf Vorschlag in der Menüleiste (oben) klickst selbst einen Musikwunsch abgeben.</p>
  <hr class="m-1">
  <a class="btn btn-outline-success" href="/vote">Weiter</a>
</div>
{% endblock %}
